export LANGSMITH_TRACING=true # Enable tracing for LangSmith
export LANGSMITH_ENDPOINT=https://api.smith.langchain.com # Set the endpoint for LangSmith API
export LANGSMITH_API_KEY=<your-langsmith-api-key> # Set your LangSmith API key here
export LANGSMITH_PROJECT=<>your-langsmith-project-name> # Set your LangSmith project name here

# To enable search in tools calling
export TAVILY_API_KEY=<your-tavily-api-key> # Set your Tavily API key here

# INcase you want to use Anthropic or OpenAI, set the API keys here. Otherwise, you can ignore these.
export ANTHROPIC_API_KEY=<your-anthropic-api-key>
export OPEN_AI_API_KEY=your_open_ai_api_key_here
